body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    padding: 40px; /* 全体のpaddingを調整 */
    background-color: #f0f0f5;
}

/* 既存のスタイルに加えて */

.header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #007aff;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}

.form-title {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

.footer {
    background-color: #f0f0f5;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer p {
    margin: 0;
    color: #666;
}



.form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; /* フォームの幅を少し広げる */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

.required {
    color: red; /* 必須項目の*を赤文字にする */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
